/__sapper__
/cypress
!node_modules
/node_modules/*
/frontend/node_modules/*
.vercel
node_modules
/backend/google-cloud-sdk/*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local