.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh; /* 100% of the viewport height */
}

.footer {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  /* background-color: #333; */
  color: var(--text-color, white);
  position: relative; /* Changed from fixed to relative */
  bottom: 0;
  width: 100%;
  /* margin-top: auto; Pushes footer to the bottom when content is smaller than the page */
}

.footer a {
  color: #61dafb;
  margin-left: 10px;
}

.footer a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  color: var(--text-color, black); /* default to black if --text-color is not set */
  background-color: black;
  font-family: 'Arial', sans-serif; /* Example font */
}

.body-background-fade {
  transition: background-color 0.5s ease-in-out;
}

.fade-effect {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
}


.banner {
  width: 100%;
  min-height:20vh;
  background-color: transparent;
  color: white;
  padding: 0px 0;
  text-align: center;
}

.banner-logo {
  max-width: 250px;
  margin: 0px 0;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8); /* Opaque background */
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}

.dropdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
  gap: 10px; /* Spacing between dropdown sections */
}

.dropdown-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(45% - 5px); /* Adjusting width for 2 columns */
}

.dropdown-header {
  font-size: 1.2em;
  color: var(--text-color, white);
  margin-bottom: 5px;
}

.dropdown {
  padding: 7px 7px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1em;
  width: 100%; /* Full width of the section */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

#asset-display {
  width: 40%; /* Adjust width as needed */
  height: 40%;
  max-width: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 30px;
  overflow: hidden;
  border: 0px solid var(--text-color, black);
  margin-bottom: 20px;
  transition: opacity 2s ease-in-out;

}

#asset-display img {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  object-fit: contain;
}

.fade-effect {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-effect-fade {
  opacity: 0;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 2s ease-in;
}

/* Responsive Design */
@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
  }

  .banner {
    min-height:5vh;
  }
  
  .footer {
    font-size: 0.8em;
    flex-direction: column;
    width: 80%;
  }

  .dropdown{
    font-size: 1em;
  }
  .dropdown-container {
    font-size: 0.8em;
    flex-direction: column;
    width: 40%;
    max-width: 250px;
    gap: 0px;
    display: flex;
    align-items: center;
  }
  
  .dropdown-section {
    color: var(--text-color, black); /* default to black if --text-color is not set */
    width: 100%; /* Full width on smaller screens */
  }
  
  #asset-display {
    order: 0; /* Move the image above the dropdowns */
    width: 80%;
    margin-bottom: 10px;
  }
  
}
